img {
    height: 50px;
}

.box {
    margin: 15px 0;
    padding: 10px;
    background: #bff3dc;
}

.btn {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 20px;
}
.selectedMovies {
	box-shadow: 0 10px 20px -8px black;
	border:1px solid coral;
  }